@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.login-wrapper{
  /* border: 2px solid black; */
  padding: 20px;
  border-radius: 10px;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
  
}

.register-wrapper{
  /* border: 2px solid black; */
  padding: 20px;
  border-radius: 10px;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
  
}


#premium-button {
  box-shadow: 0 0 10px rgba(255, 223, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

#premium-button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 9999px;
  background: radial-gradient(circle, rgba(255, 223, 0, 0.6) 0%, transparent 70%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

#premium-button:hover {
  box-shadow: 0 0 5px rgba(255, 223, 0, 0.8), 0 0 10px rgba(255, 223, 0, 0.6);
}

#premium-button:hover::before {
  opacity: 1;
}
